* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Lato','Open Sans', sans-serif;
    background-color: bisque;
}

table {
    margin: 10px auto;
    border: 1px solid black;
    background-color: cornflowerblue;
    color: whitesmoke;
    font-weight: bold;
}

td {
    padding: 10px;
    border: 1px solid black;
    text-align: right;
}

td.value {
    text-align: left;
}

h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
}

form {
    text-align: center;
    padding: 10px;
}

input {
    font-size: 24px;
    font-family: 'Lato','Open Sans', sans-serif;
    text-align: center;
    padding: 8px;
    margin: 16px;
}

input.city {
    text-transform: capitalize;
}

.warning {
    text-align: center;
    padding: 10px;
    color: red;
}

img {
    display: block;
    margin: 0 auto;
}

