<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Pogodynka</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<h1>Pogodynka</h1>
<div>
    <form th:action="@{/city}" th:object="${city}" method="post">
        <p><input type="text" th:field="*{name}"></p>
        <p><input type="submit" value="Podaj miasto"></p>
    </form>
</div>
<table class="info" th:if="${weather}">
    <tr>
        <td><img th:src="${weather.getSrc()}"></td>
        <td th:text="${weather.getWeather().get(0).getDescription()}"></td>
    </tr>
    <tr>
        <td>Temperatura &#x2103:</td>
        <td th:text="${weather.getMain().getTemp()}"></td>
    </tr>
    <tr>
        <td>Temperatura odczuwalna &#x2103:</td>
        <td th:text="${weather.getMain().getFeelsLike()}"></td>
    </tr>
    <tr>
        <td>Temperatura minimalna &#x2103:</td>
        <td th:text="${weather.getMain().getTempMin()}"></td>
    </tr>
    <tr>
        <td>Temperatura maksymalna &#x2103:</td>
        <td th:text="${weather.getMain().getTempMax()}"></td>
    </tr>
    <tr>
        <td>Ciśnienie hPa:</td>
        <td th:text="${weather.getMain().getPressure()}"></td>
    </tr>
    <tr>
        <td>Wilgotność %:</td>
        <td th:text="${weather.getMain().getHumidity()}"></td>
    </tr>
    <tr>
        <td>Wiatr m/s:</td>
        <td th:text="${weather.getWind().getSpeed()}"></td>
    </tr>
</table>
<div class="warning" th:if="!${weather}">
    <p>Nie znam takiego miasta, podaj inną nazwę!</p>
</div>

</body>
</html>
